.navigation {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: $gray;
}
.menu {
  display: flex;
  justify-content: center;

  // &__list {
  // }

  &__link {
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $drak;
  }
}
.beauty {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  background-color: $bc;
  height: 120px;
}
.logo {
  font-family: Roboto;
  font-size: 36px;
  line-height: 40px;
  color: $green;
  margin-right: 515px;
  &__tel {
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    line-height: 18px;
    color: $drak;
  }

  &__button {
    font-family: Roboto;
    font-style: Regular;
    font-size: 14px;
    line-height: 16.41px;
    background-color: $bc;
    border: 2px solid $green;
    border-radius: 40px;
    padding-top: 12px;
    padding-left: 25px;
    padding-bottom: 12px;
    padding-right: 25px;
    margin-left: 40px;
    transition: 0.2s;
  }
  &__button:hover {
    background-color: $green;
  }
}
hr {
  border: none;
  background-color: $gray;
  height: 1px;
}
.type {
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  background-color: $bc;
}
.industrial {
  display: flex;
  justify-content: center;
  align-items: center;

  // &__list {

  // }

  &__link {
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    line-height: 18.75px;
    color: $drak;
    margin-right: 40px;
  }
}
